<a href="https://colab.research.google.com/github/Fauzi4232401023/Pemograman-Dasar/blob/main/Laporan_pertemuan_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
numbers = [23, 43, 15, 34]
numbers[0] # 23
numbers[1] # 43
numbers[2] # 15
numbers[3] # 34


numbers[2] = 51
numbers[2] = 51

print (numbers[0])
print (numbers[1])
print (numbers[2])
print (numbers[3])

23
43
51
34

In [ ]:
#deklarasi variabel list numbers
numbers = [1, 2, 3]
#menambahkan elemen di indeks ke-4
numbers.insert(4,5) #[1, 2, 3, 5]
#mengubah elemen di indeks ke-4
numbers[3] = 4 #[1, 2, 3, 4]
#menghapus elemen di indeks ke-2
numbers.pop(2) #[1, 2, 4]
print (numbers)

[1, 2, 4]

In [2]:
#deklarasi variabel list numbers
numbers = [1, 2, 3]
#menambahkan elemen di indeks ke-4
numbers.insert(4,5) #[1, 2, 3, 5]
#mengubah elemen di indeks ke-4
numbers[3] = 4 #[1, 2, 3, 4]
#menghapus elemen di indeks ke-2
numbers.pop(2) #[1, 2, 4]
print (numbers)

[1, 2, 4]

In [8]:
# deklarasi variabel list
myList = [1, "Rumah", 4.5, True, ["Kamar mandi", "Kamar tidur"]]

# mengakses elemen dalam variabel list
myList[0]     # 1
myList[1]     # Rumah
myList[3]     # True
myList[4]     # ["Kamar mandi", "Kamar tidur"]

# mengakses elemen dalam sublist
myList[4][0]  # "Kamar mandi"
myList[4][1]  # "Kamar tidur"

'Kamar tidur'

In [10]:
x = ["laptop", "monitor", "mouse", "mousepad", "keyboard", "webcam", "microphone"]

print(x[0:5:2])
print(x[1:])
print(x[:3])

['laptop', 'mouse', 'keyboard']
['monitor', 'mouse', 'mousepad', 'keyboard', 'webcam', 'microphone']
['laptop', 'monitor', 'mouse']

In [12]:
x = (1, "Polibatam", 1+3j)
print(type(x))

<class 'tuple'>

In [13]:
x = (5, 'program', 1+3j)
print(x[1])
print(x[0:3])

program
(5, 'program', (1+3j))

In [16]:
x = (5, 'program', 1+3j)
x[1] = 'Polibatam'

TypeError: 'tuple' object does not support item assignment

In [14]:
# deklarasi variabel tuple
numbers = (23, 43, 15, 34)

# cara mengakses elemen dalam variabel tuple
numbers[0]    # 23
numbers[1]    # 43
numbers[2]    # 15
# lakukan print lalu amati hasilnya

15

In [17]:
# deklarasi variabel set a dan b
a = {1, 2, 3}
b = {2, 3, 4}

# operasi gabungan
a.union(b)        # {1, 2, 3, 4}

# operasi irisan
a.intersection(b) # {2, 3}

# operasi perbedaan
a.symmetric_difference(b)   # {1, 4}

#lakukan print dan lihat hasilnya

{1, 4}

In [18]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(type(x))

<class 'dict'>

In [19]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x[0])

KeyError: 0

In [20]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }

print(x ['name'])

Perseus Evans

In [21]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }
x['Job'] = "Web Developer"

print(x)

{'name': 'Perseus Evans', 'age': 20, 'isMarried': False, 'Job': 'Web Developer'}

In [23]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }
del x['isMarried']

print(x)

{'name': 'Perseus Evans', 'age': 20}

In [24]:
x = { 'name': 'Perseus Evans', 'age': 20, 'isMarried': False }
x['name'] = "Exvan"

print(x)

{'name': 'Exvan', 'age': 20, 'isMarried': False}

In [25]:
# deklarasi variabel dictionary
propertyDetail = {"numFloors": 1, "propertyType": "Rumah", "hasTerrace": True, "hasGarage": False}

# cara mengakses elemen dalam variabel dictionary
propertyDetail["numFloors"]      # 1
propertyDetail["propertyType"]   # Rumah
propertyDetail["hasTerrace"]     # True
propertyDetail["hasGarage"]      # False

# cara mengubah nilai elemen dalam variabel dictionary
propertyDetail["hasTerrace"] = False

propertyDetail["hasTerrace"]     # False

#print(propertyDetail["propertyType"])

#lakuan print lalu amati hasilnya

False